In [1]:
import pandas as pd
import datetime as dt
# Load the revenue, cost, and cohort size data

path = 'C:/Users/sydne/Desktop/Business Analyst business case __ MACADAM.xlsx'

revenue_data = pd.read_excel(path, sheet_name='raw_revenue_cohorts')
cost_data = pd.read_excel(path, sheet_name='raw_cost_cohorts')
cohort_data = pd.read_excel(path, sheet_name='raw_cohorts_size')

#checking all date related columns only have the 1st date, therefore in the next merging part
#we could directly merge dataframes using the cohort month column.
def date_check(df, column):
    
    cohort_dates = set(pd.to_datetime(df[column], format='%Y-%m-%d').dt.day)
    
    if len(cohort_dates) == 1:
        print('True')
    else:
        print('False')

date_check(revenue_data,'cohort_month')
date_check(revenue_data,'returning_date')
date_check(cost_data,'cohort_month')
date_check(cost_data,'returning_month')
date_check(cohort_data,'month_of_creation')

True
True
True
True
True

In [2]:
#adding a column with same column name for merging later
revenue_data['returning_month'] = revenue_data['returning_date']  
cohort_data['cohort_month'] = cohort_data['month_of_creation']


# Merge revenue and cost data, only matching the periods which both revenue and cost records exist
cohort_revenue_cost = pd.merge(revenue_data, cost_data, on=['cohort_month', 'returning_month'])
final_df = pd.merge(cohort_revenue_cost, cohort_data, on=['cohort_month'])

#calculate the life span of each record by unit of days
final_df['period'] = (final_df['returning_month']-final_df['cohort_month']).dt.days
# if it's within the same month, substitute the life span with at least one day
final_df['period'].replace(0, 1, inplace=True)

#calculate the numbers needed to come up with customer life time value
#customer life time value = average customer value * average life span
#= (total revenue - total cost)/total cohort size * average life span per user

#calculate the revenue and cost produced by each cohort in a single day
final_df['daily_revenue'] = final_df['revenue']/final_df['period']
final_df['daily_cost'] = final_df['cost']/final_df['period']

#calculate the total revenue and cost produced by all the cohorts in a single day
total_revenue = final_df['daily_revenue'].sum()
total_cost = final_df['daily_cost'].sum()

#calculate the total cohort size
total_cohort_size = cohort_data['cohort_size'].sum()

#calculate the average days each user stay in the app by each cohort month

avg_days =  final_df.groupby('cohort_month')['period'].sum()/final_df.groupby('cohort_month')['cohort_size'].max()
# calculate the total days each user stay in the app
avg_days = avg_days.mean()

In [3]:
final_df

,cohort_month,returning_date,revenue,returning_month,cost,month_of_creation,cohort_size,period,daily_revenue,daily_cost
0,2022-07-01,2022-08-01,27,2022-08-01,-1.6,2022-07-01,112,31,0.870968,-0.051613
1,2022-07-01,2022-09-01,4,2022-09-01,-1.6,2022-07-01,112,62,0.064516,-0.025806
2,2022-07-01,2023-03-01,11,2023-03-01,-38.4,2022-07-01,112,243,0.045267,-0.158025
3,2022-07-01,2023-04-01,8,2023-04-01,-13.6,2022-07-01,112,274,0.029197,-0.049635
4,2022-08-01,2022-08-01,118,2022-08-01,-2.4,2022-08-01,1490,1,118.000000,-2.400000
5,2022-08-01,2022-09-01,59,2022-09-01,-6.4,2022-08-01,1490,31,1.903226,-0.206452
6,2022-08-01,2022-10-01,19,2022-10-01,-6.4,2022-08-01,1490,61,0.311475,-0.104918
7,2022-08-01,2022-11-01,34,2022-11-01,-26.4,2022-08-01,1490,92,0.369565,-0.286957
8,2022-08-01,2022-12-01,47,2022-12-01,-55.2,2022-08-01,1490,122,0.385246,-0.452459
9,2022-08-01,2023-01-01,61,2023-01-01,-110.4,2022-08-01,1490,153,0.398693,-0.721569
10,2022-08-01,2023-02-01,92,2023-02-01,-126.4,2022-08-01,1490,184,0.500000,-0.686957
11,2022-08-01,2023-03-01,96,2023-03-01,-143.2,2022-08-01,1490,212,0.452830,-0.675472
12,2022-08-01,2023-04-01,79,2023-04-01,-103.2,2022-08-01,1490,243,0.325103,-0.424691
13,2022-09-01,2022-09-01,69,2022-09-01,-4.0,2022-09-01,2777,1,69.000000,-4.000000
14,2022-09-01,2022-10-01,104,2022-10-01,-9.6,2022-09-01,2777,30,3.466667,-0.320000
15,2022-09-01,2022-11-01,185,2022-11-01,-21.6,2022-09-01,2777,61,3.032787,-0.354098
16,2022-09-01,2022-12-01,224,2022-12-01,-19.2,2022-09-01,2777,91,2.461538,-0.210989
17,2022-09-01,2023-01-01,249,2023-01-01,-227.2,2022-09-01,2777,122,2.040984,-1.862295
18,2022-09-01,2023-02-01,365,2023-02-01,-348.0,2022-09-01,2777,153,2.385621,-2.274510
19,2022-09-01,2023-03-01,397,2023-03-01,-513.6,2022-09-01,2777,181,2.193370,-2.837569
20,2022-09-01,2023-04-01,446,2023-04-01,-232.8,2022-09-01,2777,212,2.103774,-1.098113
21,2022-09-01,2023-05-01,126,2023-05-01,-62.4,2022-09-01,2777,242,0.520661,-0.257851
22,2022-10-01,2022-10-01,213,2022-10-01,-4.8,2022-10-01,4878,1,213.000000,-4.800000
23,2022-10-01,2022-11-01,384,2022-11-01,-33.6,2022-10-01,4878,31,12.387097,-1.083871
24,2022-10-01,2022-12-01,418,2022-12-01,-30.4,2022-10-01,4878,61,6.852459,-0.498361
25,2022-10-01,2023-01-01,440,2023-01-01,-105.6,2022-10-01,4878,92,4.782609,-1.147826
26,2022-10-01,2023-02-01,654,2023-02-01,-390.4,2022-10-01,4878,123,5.317073,-3.173984
27,2022-10-01,2023-03-01,820,2023-03-01,-655.2,2022-10-01,4878,151,5.430464,-4.339073
28,2022-10-01,2023-04-01,750,2023-04-01,-508.0,2022-10-01,4878,182,4.120879,-2.791209
29,2022-10-01,2023-05-01,238,2023-05-01,-74.4,2022-10-01,4878,212,1.122642,-0.350943
30,2022-11-01,2022-11-01,1130,2022-11-01,-8.8,2022-11-01,51818,1,1130.000000,-8.800000
31,2022-11-01,2022-12-01,1437,2022-12-01,-379.2,2022-11-01,51818,30,47.900000,-12.640000
32,2022-11-01,2023-01-01,1272,2023-01-01,-506.4,2022-11-01,51818,61,20.852459,-8.301639
33,2022-11-01,2023-02-01,1436,2023-02-01,-692.8,2022-11-01,51818,92,15.608696,-7.530435
34,2022-11-01,2023-03-01,1761,2023-03-01,-1304.8,2022-11-01,51818,120,14.675000,-10.873333
35,2022-11-01,2023-04-01,1938,2023-04-01,-949.6,2022-11-01,51818,151,12.834437,-6.288742
36,2022-11-01,2023-05-01,754,2023-05-01,-213.6,2022-11-01,51818,181,4.165746,-1.180110
37,2022-12-01,2022-12-01,8155,2022-12-01,-772.8,2022-12-01,369806,1,8155.000000,-772.800000
38,2022-12-01,2023-01-01,7941,2023-01-01,-2858.4,2022-12-01,369806,31,256.161290,-92.206452
39,2022-12-01,2023-02-01,6841,2023-02-01,-3220.8,2022-12-01,369806,62,110.338710,-51.948387
40,2022-12-01,2023-03-01,9442,2023-03-01,-3900.0,2022-12-01,369806,90,104.911111,-43.333333
41,2022-12-01,2023-04-01,11506,2023-04-01,-3284.8,2022-12-01,369806,121,95.090909,-27.147107
42,2022-12-01,2023-05-01,3277,2023-05-01,-901.6,2022-12-01,369806,151,21.701987,-5.970861
43,2023-01-01,2023-01-01,5375,2023-01-01,-268.0,2023-01-01,98692,1,5375.000000,-268.000000
44,2023-01-01,2023-02-01,8528,2023-02-01,-1151.2,2023-01-01,98692,31,275.096774,-37.135484
45,2023-01-01,2023-03-01,9624,2023-03-01,-3820.0,2023-01-01,98692,59,163.118644,-64.745763
46,2023-01-01,2023-04-01,9928,2023-04-01,-3116.8,2023-01-01,98692,90,110.311111,-34.631111
47,2023-01-01,2023-05-01,2891,2023-05-01,-964.8,2023-01-01,98692,120,24.091667,-8.040000
48,2023-02-01,2023-02-01,7846,2023-02-01,-314.4,2023-02-01,120310,1,7846.000000,-314.400000
49,2023-02-01,2023-03-01,15601,2023-03-01,-2323.2,2023-02-01,120310,28,557.178571,-82.971429
50,2023-02-01,2023-04-01,14210,2023-04-01,-3469.6,2023-02-01,120310,59,240.847458,-58.806780
51,2023-02-01,2023-05-01,4040,2023-05-01,-772.0,2023-02-01,120310,89,45.393258,-8.674157
52,2023-03-01,2023-03-01,20749,2023-03-01,-1069.6,2023-03-01,80817,1,20749.000000,-1069.600000
53,2023-03-01,2023-04-01,27504,2023-04-01,-3107.2,2023-03-01,80817,31,887.225806,-100.232258
54,2023-03-01,2023-05-01,5968,2023-05-01,-844.0,2023-03-01,80817,61,97.836066,-13.836066
55,2023-04-01,2023-04-01,53595,2023-04-01,-2725.6,2023-04-01,142107,1,53595.000000,-2725.600000
56,2023-04-01,2023-05-01,16003,2023-05-01,-1101.6,2023-04-01,142107,30,533.433333,-36.720000
57,2023-05-01,2023-05-01,6252,2023-05-01,-78.4,2023-05-01,34479,1,6252.000000,-78.400000

In [4]:
#calculate final customer life time value
LTV = ((total_revenue + total_cost)/total_cohort_size)*avg_days
LTV

0.06867889769360526

<h1> Reflection </h1>
In the end, we came up with a very small customer life time value, because we are using an over estimated cohort size. In reality, the cohort each month will have large amounts of overlaps and the most accurate way is to count the number of unique ids in the total cohort pool. Then we should get a more accurate ltv.